<h1><%= title %></h1>

<%- messages() %>

<% if (errors) { %>
  <ul class="notice">
    <% errors.array().forEach(error => { %>
    <li><%= error.msg %></li>
    <% }) %>
  </ul>
<% } %>

<form action="/account/login" method="post" class="login-form" id="loginForm">
  <label for="account_email">Email:</label>
  <input type="email" id="accountEmail" name="account_email" required value ="<%= locals.account_email %>" placeholder="Enter your email" />

  <label for="account_password">Password: 
    <input type="password" id="accountPassword" name="account_password" required placeholder="Enter your password" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$"/>
  </label>

  <!-- Password requirements info -->
  <div class="pw-requirements">
    Password must be at least 12 characters long, contain at least:<br>
    • 1 uppercase letter<br>
    • 1 number<br>
    • 1 special character
  </div>

  <button type="submit">Login</button>
</form>
 
<p class="register-link">No account?
  <a href="/account/register">Sign-Up</a>
</p>