<!-- Content Heading -->
<% if (title) { %>
<h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>

<!-- Message -->
<%- messages() %>

<!-- Management Links -->
<div class="management links">
  <ul>
    <li><a href="/inv/add-classification">Add New Classification</a> </li>
    <li><a href="inv/add-inventory">Add New Inventory</a></li>
  </ul>
</div>

<div class="management">
  <h2>Manage Inventory</h2>
  <p>Select a classification from the list to see the items belonging to that classification.</p>
</div>


<%- classificationList %>

<div class="table">
  <table id="inventoryDisplay"></table>
</div>

<noscript>JavaScript must be enabled to use this page.</noscript>

<script src="../../js/inventory.js"></script>

